{% extends 'base.html.twig' %}

{% block title %}New Stagiair{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header maincolor whitetext">
        Create new Stagiair    </div>
    <div class="card-body">
    {{ include('stagiair/_form.html.twig') }}

    <a href="{{ path('stagiair_index') }}" class="btn btn-primary bluebutton float-left"><i class="fas fa-backward"></i></a>
    </div>

</div>
{% endblock %}
