{% extends 'base.html.twig' %}

{% block title %}New HandigeLinks{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header maincolor whitetext">
        Create new HandigeLinks    </div>
    <div class="card-body">
    {{ include('handige_links/_form.html.twig') }}

    <a href="{{ path('handige_links_index') }}" class="btn btn-primary bluebutton float-left"><i class="fas fa-backward"></i></a>
    </div>

</div>
{% endblock %}
